.row
  .col-6
    .form-control.text-field
      = f.label :email
      = f.text_field :email, type: "email"
.row
  .col-6
    .form-control.text-field
      = f.label :first_name
      = f.text_field :first_name
.row
  .col-6
    .form-control.text-field
      = f.label :last_name
      = f.text_field :last_name


