.form-control.text-field
  = form.label :email
  = form.text_field :email, type: "email"
.form-control.password-field
  = form.label :password
  = form.password_field :password, id: "password_field"
.form-control.password-field
  = form.label :password_confirmation
  = form.password_field :password_confirmation, id: "password_confirmation"
